<form method='post'> 

  {{#if error }}		
	<p>
  		<strong>{{error}}</strong>
	</p>  
  {{/if}}

  <input type="hidden" name="_csrf" value={{csrfToken}} required=true />
  <input type="text" name='email' id="txtLogin" placeholder="email" required=true></input>
  <input type="password" name='password' id="txtPassword" placeholder="password" required=true></input>
  <input type="submit" id="submit" value='Login'></input>
</form>
