
<form method='post' '/authentication/passwordrecover'>
  <input type="hidden" name="_csrf" value={csrfToken} required=true />
  <input type="text" name='email' id="txtEmail" placeholder="email" required=true></input>
  <input type="submit" id="submit" value='Recover password'></input>
</form>
