
<h3>Reset Password Form</h3>

<form method="post">
	<input type="hidden" name="_csrf" value={{csrfToken}} />
	<input type="text" name="email" id="email" placeholder="email" />

	<input type="submit" value="Reset" />	

</form>
