<form method='post'>  
  <input type="hidden" name="_csrf" value={{csrfToken}} />
  <input type="text" name="firstName" id="txtFirstName" placeholder="First Name" />
  <input type="text" name="lastName" id="txtLastName" placeholder="Last Name" />
  <input type="text" id="txtEmail" name='email' placeholder="email" required=true></input>
  <input type="password" id="txtPassword" name="password" placeholder="password" required=true></input> 
  <input type="password" id="txtPasswordConfirmation" name='passwordConfirm' placeholder="password confirmation" required=true></input>
  <input type="submit" id="submit" value='Register'></input>
</form>
